#frame{
    background: white;
    background-size: cover;
    min-height:80vh;
    width:100%;
    transition-duration: 50ms;
    background-repeat: no-repeat;
    overflow: hidden;
}
#topico{
    position: relative;
  height:17vh;
    width:100%;
    top:1vh;
     }

     .sec{
        position:relative;
        margin-bottom:2rem;
        padding:1rem;
        width: 100%;
        padding-top:0px;
      }




      #c1{
        background: linear-gradient(120deg,#00bbcf,#0019ce);
       }
       #c2{
         background:linear-gradient(120deg,#008227,#c0ce00);
       }
       #c3{
         background:linear-gradient(120deg,#c70074,#ce9700);
       }
       #c4{
         background:linear-gradient(120deg,#520082,#ce0078);
       }
       .card{
         position: relative;
         min-height:30vh;
         background:rgb(247, 247, 247);
         border-radius:1.5rem;
         margin:1rem;
         padding:3rem;
         max-width:30rem;
         box-shadow: 4px 5px 20px 5px #4b4b4b45;
         transition-duration: 60ms;
         cursor: pointer;
       }
       .card:hover{
         box-shadow: 4px 5px 25px 10px #00000045;
         padding-top:3.5rem;
       }
       #cards{
         display:grid;
         grid-template-rows: auto;
       }





@media(min-width:500px){
    #cards{
        grid-template-columns: auto auto;
      }
  
}
@media(min-width:900px){
    #cards{
        grid-template-columns: auto auto auto;
      } 
       .card{
       margin:2rem;
   }
    }



  